[transmogrifier]
pipeline =
    remotesource
    skipifexists
    ignorefolders
    adaptfieldnames
#    transform-emploi-path
    removeid
    transform-folder-excludefromnav
#    transform-type
#    transform-path
#    transform-folder-title
#    transform-categorie
#    transform-grade
#    transform-contrat
#    transform-faculte
#    transform-fonctionDate
#    transform-candidatureDate
#    transform-renseignements
    transform-text-resolveuid
    transform-cr_html_preview-resolveuid
    order
    constructor
    schema
    uid
    datesupdate
    todayinserter
    transitionsinserter
    workflowupdater
#    permissions
    owner
    local_roles
    mimetype
    reindexobject
    logger

[misc]
today = string:2018-12-19

[remotesource]
blueprint = collective.jsonmigrator.catalogsource
remote-url=http://localhost:8081/
remote-path=/
remote-username=jeanbaltus
remote-password=jojo2
catalog-path = /sitecedes/portal_catalog
catalog-query =
    {'path': {'query': '/sitecedes', 'depth': -1},
     'portal_type': {'query': ['Folder', 'Document', 'Image'], }}
remote-skip-path=
    /HTTPCache
    /MailHost
    /RAMCache
    /access_rule
    /acl_users
    /archetype_tool
    /caching_policy_manager
    /challenge_hook
    /content_type_registry
    /error_log
    /marshaller_registry
    /mimetypes_registry
    /plone_utils
    /portal_actionicons
    /portal_actions
    /portal_article
    /portal_atct
    /portal_calendar
    /portal_catalog
    /portal_controlpanel
    /portal_css
    /portal_discussion
    /portal_enfold_utilities
    /portal_factory
    /portal_file_templates
    /portal_form_controller
    /portal_fss
    /portal_groupdata
    /portal_groups
    /portal_interface
    /portal_javascripts
    /portal_kss
    /portal_languages
    /portal_lock_manager
    /portal_memberdata
    /portal_membership
    /portal_metadata
    /portal_migration
    /portal_password_reset
    /portal_placeful_workflow
    /portal_view_customizations
    /portal_properties
    /portal_quickinstaller
    /portal_registration
    /portal_setup
    /portal_skins
    /portal_squid
    /portal_syndication
    /portal_transforms
    /portal_types
    /portal_uidannotation
    /portal_uidgenerator
    /portal_uidhandler
    /portal_undo
    /portal_url
    /portal_vocabularies
    /portal_workflow
    /property_set_registry
    /reference_catalog
    /translation_service
    /uid_catalog
    /workflow_catalog
    /kupu_library_tool
    /portal_diff
    /portal_archivist
    /portal_historiesstorage
    /portal_uidhandler
    /portal_modifier
    /portal_purgepolicy
    /portal_referencefactories
    /portal_repository
    /ResourceRegistryCache
    skipIfExists

[skipifexists]
blueprint = cedes.core.blueprints.skipifexists

[ignorefolders]
blueprint = collective.transmogrifier.sections.condition
condition = python: "supprimer" not in item['title'] and item['_id'] != 'carousel'

[removeid]
blueprint = collective.transmogrifier.sections.manipulator
delete = id
condition = python: item['_id'] != 'plan'

[adaptfieldnames]
blueprint = collective.transmogrifier.sections.manipulator
keys =
    excludeFromNav
destination = python: (key == 'excludeFromNav' and 'exclude_from_nav')

[transform-folder-excludefromnav]
blueprint = collective.transmogrifier.sections.inserter
key = string:exclude_from_nav
value = python: True
condition = python: 'ressources' not in item['_path'] and item['_path'].count('/') < 4

[transform-path]
blueprint = collective.transmogrifier.sections.inserter
key = string:_path
value = python: item['_path'].replace('/archives', '').replace('/academiques', '/personnel-academique').replace('/scientifiques', '/personnel-scientifique').replace('/ato', '/personnel-administratif').replace('/academique', '/personnel-academique').replace('/personnel-scientifiques', '/personnel-scientifique').replace('/atg', '/personnel-administratif').replace('/personnel-atg', '/personnel-administratif').replace('/personnel-academique-1', '/personnel-academique').replace('/annonces-atg', '/personnel-administratif').replace('/annonces-academiques', '/personnel-academique').replace('/annonces-scientifiques', '/personnel-scientifique')

[transform-text-resolveuid]
blueprint = collective.transmogrifier.sections.inserter
key = string:text
condition = python: 'text' in item
value = python: item['text'].replace('/image" ', '/@@images/image/large" ')

[transform-cr_html_preview-resolveuid]
blueprint = collective.transmogrifier.sections.inserter
key = string:cr_html_preview
condition = python: 'cr_html_preview' in item
value = python: item['cr_html_preview'].replace('/image" ', '/@@images/image/large" ')

[transform-folder-title]
blueprint = collective.transmogrifier.sections.inserter
key = string:title
value = python: (item['_path'].endswith('personnel-academique') and u'Personnel acad\xe9mique') or (item['_path'].endswith('personnel-administratif') and u'Personnel administratif') or (item['_path'].endswith('personnel-scientifique') and u'Personnel scientifique') or (item['_path'].endswith('personnel-specialise') and u'Personnel sp\xe9cialis\xe9') or item['title']
condition = python: item['_type'] == u'Folder'

[transform-membership]
blueprint = collective.transmogrifier.sections.inserter
key = string:membership
value = python: 'autre'

[transform-categorie]
blueprint = collective.transmogrifier.sections.inserter
key = string:categorie
value = python: (item['categorie'] == 'pato' and 'administratif') or item['categorie'] or 'autre'
condition = python: item['_type'] == 'unamur.adverts.Job'

[transform-grade]
blueprint = collective.transmogrifier.sections.inserter
key = string:grade
value = python: (item['grade'] == 'asfa' and 'agent-specialise') or (item['grade'] == 'asfg' and 'agent-specialise') or (item['grade'] == 'asft' and 'agent-specialise') or (item['grade'] == 'aqfa' and 'agent-qualifie') or (item['grade'] == 'aqfg' and 'agent-specialise') or (item['grade'] == 'aqft' and 'agent-specialise') or (item['grade'] == 'pasfa' and 'premier-agent-specialise') or (item['grade'] == 'pasfg' and 'premier-agent-specialise') or (item['grade'] == 'pasft' and 'premier-agent-specialise') or (item['grade'] == 'assistant1' and 'assistant') or (item['grade'] == 'assistant2' and 'assistant') or (item['grade'] != 'autre' and item['grade']) or 'autre'
condition = python: item['_type'] == 'unamur.adverts.Job'

[transform-contrat]
blueprint = collective.transmogrifier.sections.inserter
key = string:contrat
value = python: (item['contrat'] == 'unan' and 'determine') or (item['contrat'] == 'troisans' and 'determine') or (item['contrat'] == 'renouvelable' and 'determine') or (item['contrat'] == 'integration' and 'determine') or item['contrat'] or 'autre'
condition = python: item['_type'] == 'unamur.adverts.Job'

[transform-faculte]
blueprint = collective.transmogrifier.sections.inserter
key = string:faculte
value = python: (item['faculte'] == '14' and 'LET') or (item['faculte'] == '15' and 'DRO') or (item['faculte'] == '16' and 'ECO') or (item['faculte'] == '27' and 'SCI') or (item['faculte'] == '28' and 'MED') or (item['faculte'] == '29' and 'INF') or (item['faculte'] == 'gen' and 'service') or (item['faculte'] == 'inter' and 'service') or (item['faculte'] and item['faculte']) or 'autre'
condition = python: item['_type'] == 'unamur.adverts.Job'

[transform-load_factor]
blueprint = collective.transmogrifier.sections.inserter
key = string:load_factor
value = python: 'autre'

[transform-fonctionDate]
blueprint = collective.transmogrifier.sections.inserter
key = string:fonctionDate
value = python: item['fonctionDate'] != u'None' and item['fonctionDate'].replace('/', '-') or None
condition = python: item['_type'] == 'unamur.adverts.Job'

[transform-candidatureDate]
blueprint = collective.transmogrifier.sections.inserter
key = string:candidatureDate
value = python: item['candidatureDate'] != u'None' and item['candidatureDate'].replace('/', '-') or None
condition = python: item['_type'] == 'unamur.adverts.Job'

[transform-renseignements]
blueprint = collective.transmogrifier.sections.inserter
key = string:renseignements
value = python: item['remarques'] and item['renseignements'] + item['remarques'] or item['renseignements']
condition = python: item['_type'] == 'unamur.adverts.Job'

[order]
blueprint = collective.jsonmigrator.order

[constructor]
blueprint = collective.transmogrifier.sections.constructor

[schema]
blueprint = transmogrify.dexterity.schemaupdater

[uid]
blueprint = plone.app.transmogrifier.uidupdater

[browser-default]
blueprint = plone.app.transmogrifier.browserdefault

[datafields]
blueprint = collective.jsonmigrator.datafields

[todayinserter]
blueprint = collective.transmogrifier.sections.inserter
key = string:_today
value = ${misc:today}

[transitionsinserter]
blueprint = collective.transmogrifier.sections.inserter
key = string:_transitions
value = python: ('publish',)
condition = python:'_transitions' not in item and item['_type'] == 'Theme'

[workflowupdater]
blueprint = plone.app.transmogrifier.workflowupdater

[datesupdate]
blueprint = plone.app.transmogrifier.datesupdater

[properties]
blueprint = collective.jsonmigrator.properties

[permissions]
blueprint = collective.jsonmigrator.permissions

[owner]
blueprint = collective.jsonmigrator.owner

[local_roles]
blueprint = collective.jsonmigrator.local_roles

[mimetype]
blueprint = collective.jsonmigrator.mimetype

[reindexobject]
blueprint = plone.app.transmogrifier.reindexobject

[logger]
blueprint = collective.transmogrifier.sections.logger
name = logger
level = DEBUG
key = _id
