[transmogrifier]
pipeline =
    remotesource
    removeid
    adaptfieldnames
    transform-effectiveDate
    transform-expirationDate
    transform-cr_first_classification_date
    transform-text-resolveuid
    transform-cr_html_preview-resolveuid
    order
    constructor
    transform-yays
    schema
    uid
    datesupdate
    todayinserter
    transitionsinserter
    workflowupdater
#    permissions
    owner
    local_roles
    mimetype
    reindexobject
    logger

[misc]
today = string:2018-12-19

[remotesource]
blueprint = collective.jsonmigrator.catalogsource
remote-url=http://cedesplone4a.goforweb.be
remote-path=/
remote-username=jeanbaltus
remote-password=jojo2
catalog-path = /sitecedes/portal_catalog
catalog-query =
    {'path': {'query': '/sitecedes/', 'depth': 0},
     'portal_type': {'query': ['SiteInternet'], }, }
remote-skip-path=
    /HTTPCache
    /MailHost
    /RAMCache
    /access_rule
    /acl_users
    /archetype_tool
    /caching_policy_manager
    /challenge_hook
    /content_type_registry
    /error_log
    /marshaller_registry
    /mimetypes_registry
    /plone_utils
    /portal_actionicons
    /portal_actions
    /portal_article
    /portal_atct
    /portal_calendar
    /portal_catalog
    /portal_controlpanel
    /portal_css
    /portal_discussion
    /portal_enfold_utilities
    /portal_factory
    /portal_file_templates
    /portal_form_controller
    /portal_fss
    /portal_groupdata
    /portal_groups
    /portal_interface
    /portal_javascripts
    /portal_kss
    /portal_languages
    /portal_lock_manager
    /portal_memberdata
    /portal_membership
    /portal_metadata
    /portal_migration
    /portal_password_reset
    /portal_placeful_workflow
    /portal_view_customizations
    /portal_properties
    /portal_quickinstaller
    /portal_registration
    /portal_setup
    /portal_skins
    /portal_squid
    /portal_syndication
    /portal_transforms
    /portal_types
    /portal_uidannotation
    /portal_uidgenerator
    /portal_uidhandler
    /portal_undo
    /portal_url
    /portal_vocabularies
    /portal_workflow
    /property_set_registry
    /reference_catalog
    /translation_service
    /uid_catalog
    /workflow_catalog
    /kupu_library_tool
    /portal_diff
    /portal_archivist
    /portal_historiesstorage
    /portal_uidhandler
    /portal_modifier
    /portal_purgepolicy
    /portal_referencefactories
    /portal_repository
    /ResourceRegistryCache

[removeid]
blueprint = collective.transmogrifier.sections.manipulator
delete = id
condition = python: item['_id'] != 'plan'

[adaptfieldnames]
blueprint = collective.transmogrifier.sections.manipulator
keys =
    _datafield_cr_file
destination = python: (key == '_datafield_cr_file' and '_datafield_file')

[transform-effectiveDate]
blueprint = collective.transmogrifier.sections.inserter
key = string:effectiveDate
value = python: item['effectiveDate'] != 'None' and item['effectiveDate'] or None
condition = python: item['_type']

[transform-expirationDate]
blueprint = collective.transmogrifier.sections.inserter
key = string:expirationDate
value = python: item['expirationDate'] != 'None' and item['expirationDate'] or None
condition = python: item['_type']

[transform-cr_first_classification_date]
blueprint = collective.transmogrifier.sections.inserter
key = string:cr_first_classification_date
value = python: item['cr_first_classification_date'] != 'None' and modules['DateTime'].DateTime(item['cr_first_classification_date']).asdatetime()
condition = python: item['_type']

[transform-text-resolveuid]
blueprint = collective.transmogrifier.sections.inserter
key = string:text
condition = python: 'text' in item
value = python: item['text'].replace('/image" ', '" ')

[transform-cr_html_preview-resolveuid]
blueprint = collective.transmogrifier.sections.inserter
key = string:cr_html_preview
condition = python: 'cr_html_preview' in item
value = python: item['cr_html_preview'].replace('/image" ', '" ')

[order]
blueprint = collective.jsonmigrator.order

[constructor]
blueprint = collective.transmogrifier.sections.constructor

[transform-yays]
blueprint = cedes.core.blueprints.yays
key = nothing

[schema]
blueprint = transmogrify.dexterity.schemaupdater

[uid]
blueprint = plone.app.transmogrifier.uidupdater

[browser-default]
blueprint = plone.app.transmogrifier.browserdefault

[datafields]
blueprint = collective.jsonmigrator.datafields

[todayinserter]
blueprint = collective.transmogrifier.sections.inserter
key = string:_today
value = ${misc:today}

[transitionsinserter]
blueprint = collective.transmogrifier.sections.inserter
key = string:_transitions
value = python: ('publish',)
condition = python:'_transitions' not in item and item['_type'] == 'Theme'

[workflowupdater]
blueprint = plone.app.transmogrifier.workflowupdater

[datesupdate]
blueprint = plone.app.transmogrifier.datesupdater

[properties]
blueprint = collective.jsonmigrator.properties

[permissions]
blueprint = collective.jsonmigrator.permissions

[owner]
blueprint = collective.jsonmigrator.owner

[local_roles]
blueprint = collective.jsonmigrator.local_roles

[mimetype]
blueprint = collective.jsonmigrator.mimetype

[reindexobject]
blueprint = plone.app.transmogrifier.reindexobject

[logger]
blueprint = collective.transmogrifier.sections.logger
name = logger
level = INFO
key = _id
