[transmogrifier]
pipeline =
    remotesource
#    ignoresubfolders
#    transform-emploi-path
    removeid
    adaptfieldnames
    transform-plan-excludefromnav
#    transform-type
#    transform-path
#    transform-folder-title
#    transform-categorie
#    transform-grade
#    transform-contrat
#    transform-faculte
#    transform-fonctionDate
#    transform-candidatureDate
#    transform-renseignements
    transform-cc_related
    order
    constructor
    schema
    uid
    datesupdate
    todayinserter
    transitionsinserter
    workflowupdater
#    permissions
    owner
    local_roles
    mimetype
    reindexobject
    logger

[misc]
today = string:2018-12-19

[remotesource]
blueprint = collective.jsonmigrator.catalogsource
remote-url=http://cedesplone4a.goforweb.be
remote-path=/
remote-username=jeanbaltus
remote-password=jojo2
catalog-path = /sitecedes/portal_catalog
catalog-query =
    {'path': {'query': '/sitecedes/plan', 'depth': 0},
     'portal_type': {'query': ['PlanClassement', 'Theme'], },
     'sort_on': 'getObjPositionInParent'}
remote-skip-path=
    /HTTPCache
    /MailHost
    /RAMCache
    /access_rule
    /acl_users
    /archetype_tool
    /caching_policy_manager
    /challenge_hook
    /content_type_registry
    /error_log
    /marshaller_registry
    /mimetypes_registry
    /plone_utils
    /portal_actionicons
    /portal_actions
    /portal_article
    /portal_atct
    /portal_calendar
    /portal_catalog
    /portal_controlpanel
    /portal_css
    /portal_discussion
    /portal_enfold_utilities
    /portal_factory
    /portal_file_templates
    /portal_form_controller
    /portal_fss
    /portal_groupdata
    /portal_groups
    /portal_interface
    /portal_javascripts
    /portal_kss
    /portal_languages
    /portal_lock_manager
    /portal_memberdata
    /portal_membership
    /portal_metadata
    /portal_migration
    /portal_password_reset
    /portal_placeful_workflow
    /portal_view_customizations
    /portal_properties
    /portal_quickinstaller
    /portal_registration
    /portal_setup
    /portal_skins
    /portal_squid
    /portal_syndication
    /portal_transforms
    /portal_types
    /portal_uidannotation
    /portal_uidgenerator
    /portal_uidhandler
    /portal_undo
    /portal_url
    /portal_vocabularies
    /portal_workflow
    /property_set_registry
    /reference_catalog
    /translation_service
    /uid_catalog
    /workflow_catalog
    /kupu_library_tool
    /portal_diff
    /portal_archivist
    /portal_historiesstorage
    /portal_uidhandler
    /portal_modifier
    /portal_purgepolicy
    /portal_referencefactories
    /portal_repository
    /ResourceRegistryCache

[ignoresubfolders]
blueprint = collective.transmogrifier.sections.condition
condition = python: item['_type'] == 'Emploi' or item['_id'] != "archives"

[transform-emploi-path]
blueprint = collective.transmogrifier.sections.inserter
key = string:_path
value = python: item['_path'].replace(item['_id'], '') + 'emploi.{0}-{1}-{2}.{3}0'.format(item['creation_date'].split('/')[0], item['creation_date'].split('/')[1], item['creation_date'].split('/')[2][0:2], item['creation_date'].split(' ')[1][0:12].replace(':', '').replace('.', ''))
condition = python: item['_type'] == 'Emploi' and not item['_id'].startswith('emploi.')

[removeid]
blueprint = collective.transmogrifier.sections.manipulator
delete = id
condition = python: item['_id'] != 'plan'

[adaptfieldnames]
blueprint = collective.transmogrifier.sections.manipulator
keys =
    excludeFromNav
destination = python: (key == 'excludeFromNav' and 'exclude_from_nav')

[transform-plan-excludefromnav]
blueprint = collective.transmogrifier.sections.inserter
key = string:exclude_from_nav
value = python: False
condition = python: item['_type'] == u'PlanClassement'

[transform-cc_related]
blueprint = collective.transmogrifier.sections.inserter
key = string:cc_related
value = python: eval(item['cc_related'])
condition = python: item['_type'] == 'Theme'

[order]
blueprint = collective.jsonmigrator.order

[constructor]
blueprint = collective.transmogrifier.sections.constructor

[schema]
blueprint = transmogrify.dexterity.schemaupdater

[uid]
blueprint = plone.app.transmogrifier.uidupdater

[browser-default]
blueprint = plone.app.transmogrifier.browserdefault

[datafields]
blueprint = collective.jsonmigrator.datafields

[todayinserter]
blueprint = collective.transmogrifier.sections.inserter
key = string:_today
value = ${misc:today}

[transitionsinserter]
blueprint = collective.transmogrifier.sections.inserter
key = string:_transitions
value = python: ('publish',)
condition = python:'_transitions' not in item and item['_type'] == 'Theme'

[workflowupdater]
blueprint = plone.app.transmogrifier.workflowupdater

[datesupdate]
blueprint = plone.app.transmogrifier.datesupdater

[properties]
blueprint = collective.jsonmigrator.properties

[permissions]
blueprint = collective.jsonmigrator.permissions

[owner]
blueprint = collective.jsonmigrator.owner

[local_roles]
blueprint = collective.jsonmigrator.local_roles

[mimetype]
blueprint = collective.jsonmigrator.mimetype

[reindexobject]
blueprint = plone.app.transmogrifier.reindexobject

[logger]
blueprint = collective.transmogrifier.sections.logger
name = logger
level = INFO
key = _id
