div.container {
    max-width: 1200px;
}

form.gopress_import caption {
    caption-side: top;
}

button.hidden {
    display: None;
}

[class*="contenttype-"],
.pattern-relateditems-result-info [class*="contenttype-"] {
    padding-left: 22px;
}

/* hide contenttype icon in toolbar and in navigation portlet */
div.plone-toolbar-container [class*="contenttype-"],
div.portletNavigationTree [class*="contenttype-"] {
    background-image: none;
}

.contenttype-articlegratuit {
    background: no-repeat transparent url("++plone++cedes.core/articlegratuit.gif");
}
.contenttype-articlepayant {
    background: no-repeat transparent url("++plone++cedes.core/articlepayant.gif");
}
.contenttype-audio {
    background: no-repeat transparent url("++plone++cedes.core/audio.gif");
}
.contenttype-bibliographie {
    background: no-repeat transparent url("++plone++cedes.core/bibliographie.gif");
}
.contenttype-dossierstructure {
    background: no-repeat transparent url("++plone++cedes.core/dossierstructure.gif");
}
.contenttype-emailcontent {
    background: no-repeat transparent url("++plone++cedes.core/emailcontent.gif");
}
.contenttype-file {
    background: no-repeat transparent url("++plone++cedes.core/file.gif");
}
.contenttype-folder {
    background: no-repeat transparent url("++plone++cedes.core/folder.gif");
}
.contenttype-ftw-slider-container {
    background: no-repeat transparent url("++plone++cedes.core/folder.gif");
}
.contenttype-image {
    background: no-repeat transparent url("++plone++cedes.core/image.gif");
}
.contenttype-sequenceapprentissage {
    background: no-repeat transparent url("++plone++cedes.core/sequenceapprentissage.gif");
}
.contenttype-siteinternet {
    background: no-repeat transparent url("++plone++cedes.core/siteinternet.gif");
}
.contenttype-statistiques {
    background: no-repeat transparent url("++plone++cedes.core/statistiques.gif");
}
.contenttype-planclassement {
    background: no-repeat transparent url("++plone++cedes.core/theme.gif");
}
.contenttype-point {
    background: no-repeat transparent url("++plone++cedes.core/point.gif");
}
.contenttype-theme {
    background: no-repeat transparent url("++plone++cedes.core/theme.gif");
}
.contenttype-video {
    background: no-repeat transparent url("++plone++cedes.core/video.gif");
}

span.glyphicon-triangle-right {
    font-size: 80%;
}
.state-private,
a.state-private,
/* folder_contents */
div.pat-structure a.state-private {
    color: red !important;
}

a.state-private.nav-link {
    background-color: red !important;
    color: white !important;
}

/* override faceted spinner */
div.faceted_loading {
  background: url(../../++plone++cedes.core/spinner.gif) no-repeat 50% 1.5em;
  height: 200px;
}
#content #faceted-form fieldset {
    margin: 0;
    margin-bottom: 0.5em;
}

/* hide 'Personal preferences' (rich editor, language, timezont) in user panel to non admins */
li a#contentview-user_data-personal-preferences {
    display: none;
}
body.userrole-manager li a#contentview-user_data-personal-preferences {
    display: block;
}

/* make registration form work fullscreen */
#content .login-wrapper .card {
    max-width: inherit;
}

a.link-parent {
    display: block;
    padding-bottom: 0.5em;
}
a.link-parent::before {
    font-family: "fontello";
    content: '\e84d';
    margin-right: 0.5em;
}
a.download-file {
    font-size: 200%;
}
a.download-file:hover {
    text-decoration: none;
}

span.one::before {
  content: '[1]';
  font-size: 100%;
  font-weight: bold;
  margin-right: 0.1em;
}
span.two::before {
  content: '[2]';
  font-size: 100%;
  font-weight: bold;
  margin-right: 0.1em;
}
span.three::before {
  content: '[3]';
  font-size: 100%;
  font-weight: bold;
  margin-right: 0.1em;
}
span.four::before {
  content: '[4]';
  font-size: 100%;
  font-weight: bold;
  margin-right: 0.1em;
}
span.five::before {
  content: '[5]';
  font-size: 100%;
  font-weight: bold;
  margin-right: 0.1em;
}
.bill-accounting-failed {
    color: darkOrange;
}
.highlight-orange,
.mode-n {
    color: orange;
}
.highlight-red {
    color: red;
}

.help {
    cursor: help;
}

.glyphicon.disabled {
    color: lightgrey;
    cursor: help;
}
.bold {
    font-weight: bold;
}

/* EPC term next to title of resources linked to an EPC DS */
span.ds-kw-epc {
    font-size: 125%;
    display: inline;
    text-shadow: 2px 2px 4px grey;
    font-weight: bold;
    margin-left: 1em;
}
h1 span.ds-kw-epc {
    font-size: 100%;
}
/* collapsible */
.collapsible {
    background-repeat: no-repeat;
    padding-left: 14px;
    background-position-y: center;
    cursor: pointer;
    margin-bottom: 0em;
    margin-top: 0.5em;
    margin-left: 0.5em;
    font-weight: bold;
}
.collapsible-inner-content {
    margin: 0.2em;
    padding: 1em;
    background-color: #FAFAFA;
    border:1px solid #DDDDDD;
}

a:link {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

/* cioppino.twothumbs */
.thumb-rating {
    margin-left: 1em;
    margin-right: 1em;
}
span.thumbs-down {
    display: none;
}
form.thumbs-up-readonly {
    cursor: help;
    float: right;
    margin-top: -1em;
}
form.thumbs-up-readonly input {
    cursor: help !important;
}
div.thumb-rating form input.like-button,
form.thumbs-up-readonly input.like-button {
    background-position: -44px -25px;
    padding-left: 0;
}
div.thumb-rating form .selected input.like-button,
form.thumbs-up-readonly .selected input.like-button {
    background-position: -44px 7px;
}
/* less space under portal message */
div.alert {
    margin-bottom: 1rem;
}
/* hide the extra_field on register form, used to fight against robots */
div#formfield-form-widgets-extra_field {
    display: none;
}

td.resource-icon {
    vertical-align: top;
    /* 32px + padding right*/
    width: 38px;
}
td.resource-icon, td.resource-content {
    padding-top: 0.5em;
}
/* used in folder-listing for default Plone contents (Image, ...) */
div.entries {
    padding-top: 1em;
}

/* make formControls always visible
div.formControls {
    position: sticky;
    bottom: 30px;
    text-align: center;
} */
/* user actions when connected (contact, my account, ...) */
li[id^='membertools-personaltools-'] {
    float: left;
    padding-right: 1em;
    list-style: none;
}
li#membertools-personaltools-contact a::before {
    font-family: "fontello";
    content: '\e81c';
    padding-right: 0.5em;
}
li#membertools-personaltools-mon_compte a::before {
    font-family: "fontello";
    content: '\e800';
    padding-right: 0.5em;
}
li#membertools-personaltools-aide a::before {
    font-family: "fontello";
    content: '\e81b';
    padding-right: 0.5em;
}
li#membertools-personaltools-logout a::before {
    font-family: "fontello";
    content: '\e803';
    padding-right: 0.5em;
}
/* user actions when anonymous (contact) */
li a[id^='personaltools-'] {
    padding-right: 1.5em;
}
/* plan tab, ad fontello icon-search */
div#mainnavigation li.plan.nav-item > a::before {
    font-family: "fontello";
    content: '\e81f';
    padding-right: 0.5em;
}
#content-header #portal-header {
    flex-direction: inherit;
}

/* limit space between doc title h1 and text */
section#portal-column-content article > header {
  margin-bottom: 0rem;
}

#content img {
    max-width: 100%;
}

/* limit space between fields on edit forms */
form .mb-3 {
    margin-bottom: 0.5rem;
}
/* fix height of textarea, too short by default (2 rows or so...) */
textarea.form-control {
    height: 100px;
}
#content fieldset {
    margin-bottom: 1em;
}
#content fieldset legend {
    margin-bottom: 0;
}
/* highlight fieldset preview */
fieldset.cr_html_preview {
    padding: 1em;
    border: 1px solid #dddddd;
    background-color: #fafafa;
}

/* footer */
footer#portal-footer-wrapper {
    background-color: #e9ecef;
    color: black;
}

/* ftw.slider */
div#slider-wrapper div.sliderImage {
    height: auto;
}
div#slider-wrapper div.sliderImage img {
    width: 100%;
    height: auto;
}
div.sliderText {
    opacity: 0.8;
    background-color: black;
    color: white;
    width: 85%;
}
ul.slick-dots > li.slick-active > button,
ul.slick-dots > li > button {
    border-radius: 0;
    border: 1px solid;
    border-color: #007bb1;
}
ul.slick-dots > li.slick-active > button {
    background-color: #007bb1;
    color: white;
}
ul.slick-dots > li > button {
    background-color: white;
    color: #007bb1;
}
div#slider-wrapper button {
    border: 0;
}
button.slick-prev {
    margin-left: -50px;
}
button.slick-next::before {
    font-family: 'Glyphicons Halflings';
    content: '\e080';
    color: #007bb1;
}
button.slick-prev::before {
    font-family: 'Glyphicons Halflings';
    content: '\e079';
    color: #007bb1;
}
/* adds margin top for the navigation displayed at the bottom of the page */
#clear-space-before-navigation {
  margin-top: 1em;
}

#sitemap div.plan_head {
    background-image: linear-gradient(#D5E6E8, white);
    border: 2px solid;
    box-shadow: 6px -3px;
    color: #222222;
    font-weight: bold;
    width: 400px;
    margin-bottom: 0.7em;
    border-radius: 3px;
    margin-left: auto;
    margin-right: auto;
    font-size: 140%;
    padding: 1em;
}

#sitemap li.navTreeItem a {
    border: 2px solid;
    padding: 0.5em;
    margin-bottom: 0.7em;
    width: 150px;
    border-radius: 3px;
    font-size: 80%;
    display: block;
    text-align: left;
}
#sitemap ul.navTreeLevel0 a:hover,
#sitemap ul.navTreeLevel2 a:hover {
    text-decoration: underline;
}
#sitemap ul.navTreeLevel0 a {
    box-shadow: 6px -3px;
    font-weight: bold;
    height: 50px;
    width: 200px;
}
#sitemap ul.navTreeLevel0 {
    padding-left: 1em;
}
#sitemap ul.navTreeLevel2 a {
    box-shadow: 6px -3px;
    color: #007bb1;
    font-weight: normal;
    height: auto;
    width: 165px;
    padding-top: 5px;
}

#sitemap ul.navTreeLevel2 li {
    list-style: none;
}
#sitemap ul.navTreeLevel2 li a::before {
    font-family: "fontello";
    content: '\e84c';
    margin-right: 0.5em;
}

#sitemap a {
    text-align: center;
}

#sitemap td {
    width: 240px;
}

#sitemap .visualNoMarker {
    list-style: none;
}

/* dossierstructure_view hierarchy */
div.item_level_1 {
    font-size: 130%;
}
div.item_level_2 {
    font-size: 110%;
    padding-left: 2em;
}
div.item_level_3 {
    font-size: 105%;
    padding-left: 4em;
}
div.item_level_4, div.item_level_5, div.item_level_6 {
    font-size: 100%;
    font-style: italic;
}
div.item_level_4 {
    padding-left: 6em;
}
div.item_level_5 {
    padding-left: 8em;
}
div.item_level_6 {
    padding-left: 10em;
}
