div.container {
    max-width: 1600px;
}

form.gopress_import caption {
    caption-side: top;
}

button.hidden {
    display: None;
}

[class*="contenttype-"],
.pattern-relateditems-result-info [class*="contenttype-"] {
    padding-left: 22px;
}

/* hide contenttype icon in toolbar and in navigation portlet */
div.plone-toolbar-container [class*="contenttype-"],
div.portletNavigationTree [class*="contenttype-"] {
    background-image: none;
}

.contenttype-articlegratuit {
    background: no-repeat transparent url("++plone++cedes.core/article-gratuit.gif");
}
.contenttype-articlepayant {
    background: no-repeat transparent url("++plone++cedes.core/article-payant.gif");
}
.contenttype-audio {
    background: no-repeat transparent url("++plone++cedes.core/audio.gif");
}
.contenttype-bibliographie {
    background: no-repeat transparent url("++plone++cedes.core/bibliographie.gif");
}
.contenttype-dossierstructure {
    background: no-repeat transparent url("++plone++cedes.core/dossierstructure.gif");
}
.contenttype-file {
    background: no-repeat transparent url("++plone++cedes.core/file.gif");
}
.contenttype-folder {
    background: no-repeat transparent url("++plone++cedes.core/folder.gif");
}
.contenttype-image {
    background: no-repeat transparent url("++plone++cedes.core/image.gif");
}
.contenttype-sequenceapprentissage {
    background: no-repeat transparent url("++plone++cedes.core/sequence-apprentissage.gif");
}
.contenttype-siteinternet {
    background: no-repeat transparent url("++plone++cedes.core/site-internet.gif");
}
.contenttype-statistiques {
    background: no-repeat transparent url("++plone++cedes.core/statistiques.gif");
}
.contenttype-planclassement {
    background: no-repeat transparent url("++plone++cedes.core/theme.gif");
}
.contenttype-point {
    background: no-repeat transparent url("++plone++cedes.core/point.gif");
}
.contenttype-theme {
    background: no-repeat transparent url("++plone++cedes.core/theme.gif");
}
.contenttype-video {
    background: no-repeat transparent url("++plone++cedes.core/video.gif");
}

.state-private,
a.state-private,
/* folder_contents */
div.pat-structure a.state-private {
    color: red !important;
}

a.state-private.nav-link {
    background-color: red !important;
    color: white !important;
}

/* override faceted spinner */
div.faceted_loading {
  background: url(../../++plone++cedes.core/spinner.gif) no-repeat 50% 1.5em;
  height: 200px;
}

/* hide 'Personal preferences' (rich editor, language, timezont) in user panel to non admins */
li a#contentview-user_data-personal-preferences {
    display: none;
}
body.userrole-manager li a#contentview-user_data-personal-preferences {
    display: block;
}

/* make registration form work fullscreen */
#content .login-wrapper .card {
    max-width: inherit;
}

span.icon-one::before {
  content: '\e553';
  font-size: 120%;
  margin-right: 0.1em;
}
span.icon-two::before {
  content: '\e554';
  font-size: 120%;
  margin-right: 0.1em;
}
span.icon-three::before {
  content: '\e555';
  font-size: 120%;
  margin-right: 0.1em;
}
span.icon-four::before {
  content: '\e556';
  font-size: 120%;
  margin-right: 0.1em;
}
span.icon-five::before {
  content: '\e557';
  font-size: 120%;
  margin-right: 0.1em;
}
.bill-accounting-failed {
    color: darkOrange;
}
.highlight-orange,
.mode-n {
    color: orange;
}
.highlight-red {
    color: red;
}

.help {
    cursor: help;
}

.glyphicon.disabled {
    color: lightgrey;
    cursor: help;
}
.bold {
    font-weight: bold;
}

/* EPC term next to title of resources linked to an EPC DS */
span.ds-kw-epc {
    color: &dtml-blueColor;;
    font-size: 125%;
    display: inline;
    text-shadow: 2px 2px 4px grey;
    font-weight: bold;
    margin-left: 1em;
}

/* collapsible */
.collapsible {
    background-repeat: no-repeat;
    padding-left: 14px;
    background-position-y: center;
    cursor: pointer;
    margin-bottom: 0em;
    margin-top: 0.5em;
    margin-left: 0.5em;
    font-weight: bold;
}
.collapsible-inner-content {
    margin: 0.2em;
    padding: 1em;
    background-color: #FAFAFA;
    border:1px solid #DDDDDD;
}

a:link {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

/* cioppino.twothumbs */
.thumb-rating {
    margin-left: 1em;
    margin-right: 1em;
}
span.thumbs-down {
    display: none;
}
form.thumbs-up-readonly {
    cursor: help;
    float: right;
    margin-top: -1em;
}
form.thumbs-up-readonly input {
    cursor: help !important;
}
div.thumb-rating form input.like-button,
form.thumbs-up-readonly input.like-button {
    background-position: -44px -25px;
    padding-left: 0;
}
div.thumb-rating form .selected input.like-button,
form.thumbs-up-readonly .selected input.like-button {
    background-position: -44px 7px;
}
/* less space under portal message */
div.alert {
    margin-bottom: 1rem;
}
/* hide the extra_field on register form, used to fight against robots */
div#formfield-form-widgets-extra_field {
    display: none;
}
